.boxi{
    margin-left: 2%; width:96%;background-color: #d9d8db;font-weight: bold;
    padding-bottom: 1%;
 }
 img{
     margin-left: 10%;
 }
 button{
    margin-left: 35px;
    width: 20%;
    border-radius: 20px;
    
}
.inclose{
    margin-right: 10%;
}

 
